input {
    background: none !important;
    border: none;
    /*padding: 5px !important;*/

    font-family: Andale Mono, monospace;
    font-size: 15px;

    color: #CE700D;;
    text-decoration: underline;
    cursor: pointer;

}




/* Add a black background color to the top navigation */
.topnav {
    background-color: #313639;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f5f5f5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #565b5d;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #f09331;
    color: white;
}


body {background-color: #ECB8A9 !important;
    font-family: Andale Mono, monospace;}

/*colour for hyperlinks*/
a{
    color: #CE700D;
}


div{
    text-align:center;
}

form  { display: table !important; text-align:center !important; width:0px;}
p     { display: table-row !important; width:100%;}


.rTable {
    display: table;
    width: 100%;
}
.rTableRow {
    display: table-row;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
}
.rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}
.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}
.rTableBody {
    display: table-row-group;
}