
input {
    background: none !important;
    border: none;
    /*padding: 5px !important;*/

    font-family: Andale Mono, monospace;
    font-size: 15px;

    color: #CE700D;;
    text-decoration: underline;
    cursor: pointer;

    float:right;
}





/* Add a black background color to the top navigation */
.topnav {
    background-color: #313639;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f5f5f5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #565b5d;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #f09331;
    color: white;
}


body {background-color: #ECB8A9 !important;
    font-family: Andale Mono, monospace;}

/*colour for hyperlinks*/
a{
    color: #CE700D;
}

.choices {
    position: relative;
    font-size: 16px;

    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;

    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}


.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 50%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;


    float: left;
    margin-right: 10px;
    margin-left: 20px;

}
/*
label {
    width: 140px;
    text-align: right;
}​

 */

.button{
    height: 20px;
    float: left;
    clear: right;
    margin-right: 0px;
    padding-top: 3px;

}

h1{
    color:#313639;
}



form  { display: table !important; }
p     { display: table-row !important; float: left; clear:both; width:100%; }
label { display: table-cell !important; float:left;}
input { display: table-cell !important; float:left; margin-right: 50px;}

.title{
    font-weight: bold;
}



